[2019-01-16 17:38] TThana opened #1 "java.lang.NoSuchMethodException"
android.view.InflateException: Binary XML file line #5: Binary XML file line #5: Error inflating class com.qtalk.recyclerviewfastscroller.RecyclerViewFastScroller
    Caused by: android.view.InflateException: Binary XML file line #5: Error inflating class com.qtalk.recyclerviewfastscroller.RecyclerViewFastScroller
    Caused by: java.lang.NoSuchMethodException: <init> [class android.content.Contex

[2019-01-16 18:01] shahsurajk commented on #1
@TThana This looks like a proguard issue. Was `minify` set to `true` in `build.gradle`? Also, does this happen on debug variants as well?

[2019-01-16 19:08] TThana commented on #1
thank you, it work on debug mode without proguard.

[2019-01-16 19:08] #1 closed

[2019-03-07 10:03] yunfanasd opened #2 "you need updata your version"
your demo can work on ,but meavn lib cannot

[2019-03-07 10:59] shahsurajk commented on #2
Hi @yunfanasd could you elaborate what issue you're facing and what dependencies are you using? Would be great if you post some code as well.

[2019-03-19 18:25] rgocal opened #3 "Orientation Support?"
Does this fastscroller support Horizontal and Vertical Recyclerviews?

[2019-03-19 18:41] shahsurajk commented on #3
As you can see the [todo](https://github.com/quiph/RecyclerView-FastScroller#todo), it's not yet planned, but it's definitely going to be implemented someday. For now it only supports vertical recyclerviews.

[2019-03-19 19:03] rgocal commented on #3
Alright, thank you for the reply. Im looking for a fastscroll for a launcher app drawer that supports orientation.

[2019-07-16 12:53] gilgoldzweig commented on #3
Is there a reason for not appending it as part of the LayoutManager?

That seems like a better way to add support for basically any direction

[2019-07-16 13:21] shahsurajk commented on #3
Interesting, it didn't hit me. But could you elaborate your solution, as in what would you do?
Are you hinting `layoutManager.orientation = RecyclerView.HORIZONTAL`? cause i think we can totally do that!

[2019-07-16 13:40] gilgoldzweig commented on #3
Yeah, something in that realm.

[2019-07-16 13:43] shahsurajk commented on #3
Yeah, we can do this, just need to figure out a bit of math, so currently there is an attribute to do this, `fastScrollDirection` this will simply be deprecated and the fastscroller will internally use the orientation provided in the `LayoutManager` but we still have to port the code to make it work in the horizontal direction.

[2019-07-29 09:07] imayank91 commented on #1
I am facing the same issue. My minify is set to false for debug but it doesn't work

[2019-07-29 09:10] imayank91 opened #4 "Error inflating class com.qtalk.recyclerviewfastscroller.RecyclerViewFastScrolle"
[code]

[2019-07-29 09:25] shahsurajk commented on #4
Hi @imayank91 could you provide some details as to what is happening? Also are you using AndroidX?

If not, try switching to an older version, maybe this could help:
`implementation 'com.quiph.ui:recyclerviewfastscroller:0.1.1-alpha'`

[2019-07-29 09:26] imayank91 commented on #4
Yeah, I am using AndroidX.

[2019-07-29 09:27] imayank91 commented on #4
I have implemented the below version

`implementation 'com.quiph.ui:recyclerviewfastscroller:0.1.2'`

and upon running I get the error I mentioned.

[2019-07-29 09:28] shahsurajk commented on #4
Okay, and you don't have proguard/ minify set as true as well?

[2019-07-29 09:29] imayank91 commented on #4
This is my buildType

[code]

[2019-07-29 09:31] shahsurajk commented on #4
Could you paste your layout XML file as well, only the root and the recyclerview-fastscroller tag would be enough.

[2019-07-29 09:31] imayank91 commented on #4
This is my XML file

[code]

[2019-07-29 09:33] shahsurajk commented on #4
What is the OS of the device it is crashing on? Before some version of Android, constructors had only 2 parameters. And the crash clearly points to the constructor.

[2019-07-29 09:35] imayank91 commented on #4
Android 9 , API 28

[2019-07-29 09:36] shahsurajk commented on #4
Then it should not be a problem. Let me re-compile and check it.

[2019-07-29 09:36] imayank91 commented on #4
Sure, let me know

[2019-07-29 10:52] shahsurajk commented on #4
Hi @imayank91, so we confirmed the problem, it's an internal error made by us during the packaging of the library. We've added rules so this doesn't occur again. Thanks a lot for pointing this out to us.

Meanwhile, here's a list of things you could do:
1. Wait for 0.1.3 to get released. This is already in progress and will go live in a day or so. This issue will automatically get closed when it w

[2019-07-29 11:42] #4 closed

[2019-07-29 12:44] imayank91 commented on #4
Ok, It'll be helpful you can patch it tomorrow.

[2019-07-29 13:18] shahsurajk commented on #4
@imayank91 v0.1.3 is already released. It can take a few hours for the dependencies to become available. This release should solve this issue

[2019-08-13 17:47] RobinDeBock commented on #1
Same problem here. `Binary XML file line #10: Binary XML file line #10: Error inflating class com.qtalk.recyclerviewfastscroller.RecyclerViewFastScroller`

[2019-08-13 17:49] shahsurajk commented on #1
What version are you using?

Regards,

Suraj Shah,
Android application developer, stackoverflow enthusiast and hobbyist coder.

On Tue, Aug 13, 2019, 23:17 Robin De Bock <notifications@github.com> wrote:

[2019-08-13 17:52] RobinDeBock commented on #1
I was following the guide from [https://androidexample365.com/a-simple-easy-to-use-and-configurable-fast-scroller-for-recyclerview/](url). That uses version 0.1.1-alpha. Thanks for answering so quick, I'll go use the new version and come back to you.

[2019-08-13 18:02] RobinDeBock commented on #1
Using the latest version gives me this error on Gradle sync `Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.1.0-rc02] AndroidManifest.xml:24:18-86 value=(androidx.core.app.CoreComponentFactory).
	Suggestion:

[2019-08-13 18:26] shahsurajk commented on #1
@RobinDeBock does it work? if so, i'll contact the website guys to update the article as well.

[2019-08-13 18:27] shahsurajk commented on #2
Seems like #4

[2019-08-13 18:27] #2 closed

[2019-08-13 18:34] RobinDeBock commented on #1
Using the latest version (0.1.3) gives me this error on Gradle sync `Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91 is also present at [androidx.core:core:1.1.0-rc02] AndroidManifest.xml:24:18-86 value=(androidx.core.app.CoreComponentFactory). Sugges

[2019-08-13 18:36] shahsurajk commented on #1
Oh, okay, seems like you're not using only AndroidX dependencies? There's a plain app support dependency present as well.

[2019-08-13 18:37] RobinDeBock commented on #1
I guess, I don't really know what you mean. How does one fix this?

[2019-08-13 18:41] shahsurajk commented on #1
You seem to have a problem with the dependencies, do you have [AndroidX](https://developer.android.com/jetpack/androidx/) support in the project? If not check [this](https://developer.android.com/jetpack/androidx/migrate)

[2019-08-13 19:02] RobinDeBock commented on #1
That fixed it. So I had to make use of the latest version of this library (0.1.3) and then migrate to AndroidX. Works like charm, awesome library!

[2019-10-24 09:24] MrZ3T4 opened #5 "FastScroll Padding?"
Is there a way to set an upper and lower margin without affecting the recyclerview?

Since at the end of the scroll it is not possible to reach the last item and it must slide out of view :/

[2019-10-24 09:46] shahsurajk commented on #5
No, not yet. This could be a good first issue for people to work on.

[2019-10-25 17:53] dhruvnagarajan commented on #5
@MrZ3T4 Won't clipToPadding solve this issue?

[2019-10-30 09:45] shahsurajk commented on #5
@dhruvnagarajan i'm not sure how it would help, do you have an implementation in mind?

[2019-10-30 14:33] dhruvnagarajan commented on #5
This is not entirely clear.

It appears that @MrZ3T4 is having an overlap of views towards the bottom of the list, so I recommended use of padding for the last item.

[2019-11-09 13:58] westlinkin opened #6 "If recyclerView in SwipeRefreshLayout, drag the fast scroll handler will cause swipeRefreshLayout to start refreshing"

[2019-11-09 18:37] shahsurajk commented on #6
Interesting. Do you have a gif or a screen record of the same?

[2019-11-13 01:40] westlinkin commented on #6
Used another library, closed.

[2019-11-13 01:40] #6 closed

[2019-11-13 11:33] shahsurajk commented on #6
Would you post a link to the library you ended up using, might be helpful if someone else stumbles upon this.

[2019-11-14 01:11] westlinkin commented on #6
related issue in other lib: https://github.com/L4Digital/FastScroll/issues/30

[2019-11-17 03:14] imknown opened #7 "How to wrap an exist RecyclerView such as in PreferenceFragmentCompat?"
See here: https://github.com/quiph/RecyclerView-FastScroller/issues/7#issuecomment-554820953

[2019-11-17 04:57] shahsurajk commented on #7
Interesting. Does it extend a recycler view? If not then i think a similar implementation will have to be written for other components

[2019-11-18 02:11] imknown commented on #7
Hi, @shahsurajk, It looks like these below:

[code]

[code]

[2019-11-18 11:05] shahsurajk commented on #7
Interesting, maybe we could attach the `RecycerView` directly. Definitely looks like a good feature to work on. Thanks for reporting, Would be great if you could post a sample of what you're trying to build, would help us bootstrapping things to build for this component.

[2019-11-18 11:42] imknown commented on #7
@shahsurajk Thanks for your reply 😄,
It's my mistake, I read the document hastily before.
Now I find the `attachFastScrollerToRecyclerView(recyclerView)` as you mentioned can solve this.
Thanks again~

[2019-11-18 11:42] #7 closed

[2019-12-06 07:48] niraj-promact opened #8 "issue when using with SwipeRefreshLayout"
it doesn't work properly with SwipeRefreshLayout.
here is code I have modified in your sample app

[code]

here is the issue what I am facing
![19-12-06-13-40-05](https://user-images.githubusercontent.com/58586787/70307066-52817700-182e-11ea-8f23-b59000ddbf79.gif)

[2019-12-06 08:34] niraj-promact commented on #8
found same issue **closed**, will check it

https://github.com/quiph/RecyclerView-FastScroller/issues/6

[2019-12-06 09:32] shahsurajk commented on #8
The issue you found, should not have been marked closed as the feature is not yet implemented. Re-opening this and marking this a good first issue.

One of the possible solutions that i can think of, is to check the parent inside the main fastscroller class. Will pick this up as soon as i get some bandwidth.

Meanwhile, this is issue is open for any open source contributors.

[2019-12-06 09:56] niraj-promact commented on #8
[code]
I have used this line as a temporary solution. It works better than before. But I'm unable to modify the exact UI as needed by the client. can you please help me out?
The client needs the same thumb and popup as the Google Photos app has.
[link to stack overflow question](https://stackoverflow.com/questions/59210484/fast-scroller-to-recycler-view-same-as-google-photos-app)

[2019-12-21 18:38] #8 closed

[2020-01-08 06:36] naveenchandan opened #10 "Update Dependencies"
Please update all the dependencies to the latest version.

[2020-03-25 09:15] shamshadpattani opened #12 "popupDrawable and the popupTextStyle Does not work"
The popupDrawable attribute and the popupTextStyle attributes does not work in Advanced usage

[2020-05-09 18:50] AlexSheva-mason opened #13 "Render problem in layout xml file"
Having this error in the layout file. FastScroller works alright though.
How can I fix this? My repo
https://github.com/AlexSheva-mason/Rickypedia

[code]

[2020-05-14 14:16] shahsurajk commented on #12
Can you provide and example for the same?

[2020-05-14 14:17] shahsurajk commented on #13
I don't think this issue concerns this library.

Closing it. Re-open if you feel it's cause of this library.

[2020-05-14 14:17] #13 closed

[2020-06-27 04:11] joshsharp opened #14 "Issue with handle not scrolling list in certain circumstances"
Hello! Thanks for making this project, I've found it really easy to integrate and style, I really appreciate that it exists :)

I have an issue where the fast scroller gets stuck sometimes. What seems to prompt it is that I scroll using the fast scroller handle, then just scroll a little by touching the `RecyclerView` directly. After this, if I grab the fast scroller handle, I can move the handle

[2020-06-27 07:04] shahsurajk commented on #14
Thank you for your kind words :)

The issue you're describing looks pretty weird from the description.

A few questions:
* Are you wrapping the view around any view which extends `NestedScrollView`?
* Can you share a snippet of your usage of the library and the recycler view from the XML file?
* It would great if you could also share a gif of your screen recording.

[2020-06-27 07:45] joshsharp commented on #14
It is pretty weird. There shouldn't be any `NestedScrollView`s though. Here's my layout:

[code]

There's nothing in my code that's relevant, I don't think, as I'm not programmatically attaching the scroller or anything.

I'll comment again with a gif of it happening once I'm able.

[2020-06-27 08:08] joshsharp commented on #14
Here we go. It's a wishlist app for books. So here I scroll the `RecyclerView` to the right spot, then grab the fast scroller handle, but it isn't working. Then I scroll a little again directly on the `RecyclerView`, which fixes the fast scroller.

![20200627_175430_edited_1](https://user-images.githubusercontent.com/1171503/85917822-e5543280-b8a0-11ea-8820-6631cd4f30f1.gif)

[2020-06-27 08:33] shahsurajk commented on #14
Very interesting. I've a few rough thoughts as to why this would be happening. Let me debug and post my results here. :)

[2020-06-27 11:16] joshsharp commented on #14
Thanks very much!

[2020-07-04 09:40] shahsurajk commented on #12
Closing this due to inactivity.

[2020-07-04 09:40] #12 closed

[2020-07-12 19:44] shahsurajk commented on #14
Hi @joshsharp thank you so much for pointing this out. I've found the issue and am working on a patch. It has something to do with view heights being enough to not include more than 2 elements on the screen at once. Patch coming soon :)

[2020-07-13 00:13] joshsharp commented on #14
Aha, well that definitely fits my setup. Thanks very much for tracking it down!

[2020-07-13 09:01] #10 closed

[2020-07-13 09:43] shahsurajk commented on #14
@joshsharp would you like to beta test the fix for me?

If you would like to, put the aar attached to your libs folder and comment your dependency line and replace it with:
`implementation files("${rootProject.projectDir}/libs/recyclerviewfastscroller-release.aar")`

PFA: `recyclerviewfastscroller-release.aar.zip` remove the `.zip` extension to use it.

[recyclerviewfastscroller-release.aar.zip](h

[2020-07-14 08:06] joshsharp commented on #14
Ah great! I will give this a try when I have the time and get back to you.

[2020-07-14 08:15] joshsharp commented on #14
Actually I have just tested it now 🙂 it does appear to fix the issue!

However, it seems to introduce a new, different issue. The handle now appears further down the screen than where my thumb is. If you look at my previous gif, my thumb is now always roughly just above the top of the popup label, rather than the handle being directly under my thumb. Sorry!

[2020-07-14 08:59] shahsurajk commented on #14
Didn't quite understand, could you attach a GIF on the problem you're mentioning?

[2020-07-14 11:02] joshsharp commented on #14
![Screenshot_20200714-202313_Wishkobone](https://user-images.githubusercontent.com/1171503/87418554-37bd7f00-c615-11ea-8fa0-ad650bdc584d.png)

I've annotated this screenshot with a circle showing roughly where I'm touching the screen with my thumb. What I would expect (and what used to happen) is that the quick scroller handle sat directly under my thumb. However as I move my thumb up and down the

[2020-07-15 22:55] joshsharp commented on #14
Hmm this isn't happening now. Perhaps it was a one-off the first time I built the app to my phone? Regardless, I've been unable to replicate it since, so please don't worry about it, I think we should consider this fixed :slightly_smiling_face:

[2020-07-18 21:51] #14 closed

[2020-07-19 07:44] shahsurajk opened #16 "Check support for GridLayoutManager"
Update the sample application by adding a new tab to test a `GridLayoutManager`

[2020-08-02 06:14] sorous opened #17 "Support for right-to-left layouts"
Please add support for right-to-left layouts. The handler needs to show up on the left side of screen in right-to-left apps.

[2020-08-02 10:59] shahsurajk commented on #17
Agreed. This should be fixed.

[2020-08-13 21:11] #17 closed

[2020-08-17 06:23] shahsurajk opened #18 "Try moving dependencies to Github packages"
Currently the artifacts are managed on [Nexus Sonatype](https://oss.sonatype.org/#stagingRepositories) move them to github packages.

Ref doc [Github package and gradle](https://docs.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-gradle-for-use-with-github-packages)

[2020-08-27 21:10] omkar-tenkale opened #19 "Crash Fatal error android.widget.ImageView cannot be cast to androidx.appcompat.widget.AppCompatImageView"
App crash when fragment is shown

I'm using vector drawable support library
Maybe that's causing this issue
[code]

[code]

[2020-09-02 07:32] roboirc opened #20 "Is it possible to create a timer delay before the fast scroller pops up / is activated?"
I am trying to find out if there is a way to control the fast scroller delay so that it shows up only after the touch event happens for X seconds? Please guide me.
Thanks

[2020-09-02 07:54] shahsurajk commented on #20
there's not way as of now, it's hardcoded to 200ms, but you can raise a PR and modify it.

[2020-09-02 12:59] roboirc commented on #20
Where can I find the location of the hardcoded value in the source code?
Thanks

[2020-09-02 13:14] shahsurajk commented on #20
you can find it here: https://github.com/quiph/RecyclerView-FastScroller/blob/master/recyclerviewfastscroller/src/main/java/com/qtalk/recyclerviewfastscroller/RecyclerViewFastScroller.kt#L128

[2020-09-02 13:40] roboirc commented on #20
So this value controls the time delay before the fastscroller is activated / shows up correct? (200 ms) ?

[2020-09-02 16:59] roboirc commented on #20
What files do I need to include in my project folder to be able to use your library (without importing the entire Github repository) ?
Thanks

[2020-09-03 07:16] shahsurajk commented on #20
You'll have to include the module `recyclerviewfastscroller`

[2020-09-03 12:06] roboirc commented on #20
What extra lines do I need to put into the gradle files to include this module?
I tried the methods as shown here but it still won't find the module:

https://stackoverflow.com/questions/19299316/require-gradle-project-from-another-directory
https://stackoverflow.com/questions/47906875/how-to-add-and-use-an-external-java-source-folder-in-android-studio

Please help. Thanks.

[2020-09-08 14:49] tom5079 opened #21 "Support older SDKs (API Level 16+)"
The code should work fine on API level 16 and above.
There's no reason to set the minSDK to 19.

[2020-09-09 00:10] tom5079 opened #23 "SnapHelper().attachToRecyclerView() causes IllegalStateException"
[code]
causes

[code]

[2020-09-10 13:01] roboirc commented on #20
I know my questions are trivial but please do help :)

[2020-09-10 13:27] shahsurajk commented on #20
Sorry, seems like i missed this.

To answer your question,
1. you have to include the code inside the folder [`recyclerviewfastscroller`](https://github.com/quiph/RecyclerView-FastScroller/tree/master/recyclerviewfastscroller)
2.  then update your projects [`settings.gradle`](https://github.com/quiph/RecyclerView-FastScroller/blob/master/settings.gradle) to include the folder name.
3. update your

[2020-09-10 14:42] roboirc commented on #20
Hi
Tried the above. Getting this error from within the recyclerviewfastscroller build gradle after importing: '
"Plugin with id 'kotlin-android' not found."
How to fix?

[2020-09-10 14:59] shahsurajk commented on #20
I think googling it might help. At this point i won't be able to hand-hold i'm sorry. :)

[2020-09-10 14:59] roboirc commented on #20
np thanks anyway :)

[2020-09-11 11:20] tom5079 opened #26 "Add option to disable touch on the invisible track"
It would be nice to have some kind of option to disable touch on the invisible track
Sometimes users touch it accidentally without knowing that it would actually move to that position.

[2020-09-12 03:40] tom5079 opened #27 "java.lang.IllegalAccessException: Should implement the OnPopupTextUpdate or OnPopupViewUpdate interface"
Why does it raise an exception?
Just not showing the popup when it's not implemented makes much more sense

[2020-09-13 19:56] shahsurajk opened #33 "[Bug] FastScroll handle disappears"
## Bug Description
When you scroll to the last element and re-draw the fragment, the handle disappears (it's actually below the visible screen length).

Recording for reference :
![output](https://user-images.githubusercontent.com/12149313/93027245-4d592000-f629-11ea-9d7b-9080a19d1342.gif)

[2020-09-13 19:57] shahsurajk commented on #33
@tom5079 do you wish to try this out?

[2020-09-13 20:07] shahsurajk opened #34 "[Sample] Sample fragment to test horizontal scroll"
Should create a sample fragment to test horizontal scroll and use it inside the view pager. Was thinking of programming languages Alphabetically sorted.

Horizontal scroll is yet to be merged. It's currently present as a PR and can be tracked at #29

[2020-09-14 00:36] tom5079 commented on #33
@shahsurajk I'll try it for sure. ~Can you provide me a reproducible code?~ Found it.

[2020-09-14 00:44] tom5079 commented on #33
@shahsurajk Is there any slack channel that we can work on together?

[2020-09-14 00:57] tom5079 commented on #33
@shahsurajk actually, #29 fixes it

[2020-09-17 07:36] roboirc commented on #20
I tried googling and testing it out but I was unable to do so. I see the steps on how to compile aar and include it in the project in your github. But it would be nice if you could also show us on how to just include the necessary folder and update gradle files. Much appreciated. Thanks.

[2020-09-17 08:05] shahsurajk commented on #20
i believe #31 fixes this.

[2020-09-17 08:15] roboirc commented on #20
So now the value can be changed? Please clarify. Thanks.

[2020-09-17 20:55] #21 closed

[2020-09-18 13:48] roboirc commented on #20
Are you talking about commit 2bf12ca?

[2020-09-18 14:18] marcardar opened #36 "Support programmatic enabling/disabling of fastscroller"
At the moment, this can only be done through the XML (fastScrollEnabled), but often we want to enable/disable according to, for example, how many items there are in the list. So it would be good to add a property on the recyclerview for this.

Similarly, for other XML-only attributes.

[2020-09-19 06:37] shahsurajk commented on #36
would you like to pick this up @marcardar ?

[2020-09-19 06:51] marcardar commented on #36
@shahsurajk unfortunately I'm really snowed under at the moment :(

[2020-09-19 07:02] shahsurajk commented on #20
My bad @roboirc , this issue seems unfixed for now.

[2020-09-19 07:04] shahsurajk commented on #27
@tom5079 let's make a point to reference issues in commit messages like "Fixes #27", this way, whenever the commit is merged to master, github closes the issue with the reference commit.

[2020-09-19 07:04] #27 closed

[2020-09-19 07:05] shahsurajk commented on #33
@tom5079 can you amend your last commit on #29 and add the commit message "Fixes #33"

[2020-09-19 07:07] shahsurajk commented on #3
@tom5079 you'll have to also add "Fixes #3" in your last commit message for #29

[2020-09-19 07:07] shahsurajk commented on #5
@tom5079 Let's amend the commit message for #30 with "Fixes #5"

[2020-09-19 07:08] shahsurajk commented on #19
closing due to inactivity.

[2020-09-19 07:08] #19 closed

[2020-09-19 07:08] #23 closed

[2020-09-19 07:12] shahsurajk commented on #26
@tom5079 Let's add reference this issue in #32 by amending the last commit message

[2020-09-19 07:19] tom5079 commented on #5
@shahsurajk I said i'll reopen that issue after #29 is merged. Pull requests after #30 is an entangled mess, so I need to cherrypick commits

[2020-09-19 07:35] shahsurajk commented on #5
got it, what i meant @tom5079 is let's amend the commit message with a "fixes .. " message, like something mentioned here: https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue. so, this will auto close the issue once the commit is merged to master.

[2020-09-19 07:36] tom5079 commented on #5
uh... "resolves" does the same thing too...

[2020-09-19 07:40] shahsurajk commented on #5
@tom5079 , yes, resolves works too, but you'll have to write that in the commit message. :)

[2020-09-19 07:42] tom5079 commented on #5
it doesn't have to be in the commit message, it works when it's on the PR comment. check this out
![image](https://user-images.githubusercontent.com/7948651/93661991-47cf6000-fa97-11ea-8327-49dade7c5984.png)

[2020-09-19 07:43] shahsurajk commented on #5
it does, though i'm not sure if it will auto-close the issue once the PR is merged. will it?

[2020-09-19 07:44] tom5079 commented on #5
I guess it will, but not 100% sure. wanna test it?

[2020-09-19 07:48] tom5079 commented on #5
@shahsurajk Turns out that it does close the issue. check https://github.com/tom5079/PR
keep in mind that it only closes the issue when the PR is merged to `master` branch

[2020-09-19 07:52] shahsurajk commented on #5
@tom5079 , yes. got to know of it now as well: https://stackoverflow.com/a/15827689/4820556. Though it used to be based only on commit messages early on.  My bad here. :beer:

[2020-09-19 07:54] tom5079 commented on #5
all good 😄

[2020-09-20 19:42] omkar-tenkale commented on #19
Wait.. what?

[2020-09-20 19:43] omkar-tenkale commented on #19
This is a valid issue,you can't simply close this before it getting other people's attention!

[2020-09-24 18:28] nsalazar0429 commented on #34
I would like to work on this issue once available

[2020-09-25 06:36] shahsurajk commented on #34
@cfsnsalazar thank you for your interest, though i think @tom5079 was working on this.

[2020-09-29 18:23] vokilam opened #38 "[Bug] Handle is moved when touched after sibling view stub is inflated"
### Setup
I have a vertical linear layout with a `RecyclerView` and a banner ViewStub above it.

[code]
Banner view stub is inflated later, after some conditions are met. To simplify this:
[code]
### Behavior
**Actual**
After view stub is inflated, handle is moved down when touched (approximately by an inflated view height). List is also scrolled down. Touch position does not correspond to a handl

[2020-09-29 19:01] shahsurajk commented on #38
@vokilam what version are you on?

[2020-09-29 19:42] vokilam commented on #38
recyclerviewfastscroller:0.2.3

[2020-09-29 23:22] tom5079 commented on #38
#29 Fixes it

[2020-09-30 06:07] shahsurajk commented on #34
@cfsnsalazar you can start working on this by forking the project and checking out the `development` branch

[2020-09-30 06:38] nsalazar0429 commented on #34
@shahsurajk For sure . Sorry for not starting this yet , I have been busy these last few days with other obligations. I will be starting ASAP

[2020-09-30 07:14] shahsurajk commented on #34
@cfsnsalazar no worries. I shall assign this to you then. Feel free to ask questions here. :)

[2020-09-30 08:55] vokilam commented on #38
Same incorrect behavior is reproduced in fullscreen mode – handle is moved down when touched (approximately by status bar height)

[code]

[2020-10-12 00:03] nsalazar0429 commented on #34
I won't be working on this issue anymore. I currently don't have time

[2020-10-12 01:40] tom5079 commented on #34
@cfsnsalazar literally took 30 minutes

[2020-10-19 15:12] roboirc commented on #20
When will this be implemented?

[2020-10-20 07:33] shahsurajk commented on #20
Implemented in v1.0.0

[2020-10-20 07:33] #20 closed

[2020-10-20 07:36] shahsurajk commented on #20
ref: https://github.com/quiph/RecyclerView-FastScroller/releases/tag/v1.0.0

[2020-10-20 07:37] shahsurajk commented on #3
@tom5079 , it didn't close this issue, manually closing it.

fixed with: https://github.com/quiph/RecyclerView-FastScroller/releases/tag/v1.0.0

[2020-10-20 07:37] #3 closed

[2020-10-20 07:37] shahsurajk commented on #5
fixed with https://github.com/quiph/RecyclerView-FastScroller/releases/tag/v1.0.0

[2020-10-20 07:37] #5 closed

[2020-10-20 07:39] shahsurajk commented on #34
fixed with https://github.com/quiph/RecyclerView-FastScroller/releases/tag/v1.0.0

[2020-10-20 07:39] #34 closed

[2020-10-20 07:39] shahsurajk commented on #38
fixed with https://github.com/quiph/RecyclerView-FastScroller/releases/tag/v1.0.0

@vokilam can you check this issue on the latest release?

[2020-10-20 07:40] shahsurajk commented on #33
fixed with https://github.com/quiph/RecyclerView-FastScroller/releases/tag/v1.0.0

[2020-10-20 07:40] #33 closed

[2020-10-20 08:13] tom5079 commented on #3
@shahsurajk ok to be honest I'm confused by it now

[2020-10-20 13:57] vokilam commented on #38
Initial issue is fixed. Issue mentioned in https://github.com/quiph/RecyclerView-FastScroller/issues/38#issuecomment-701258330 is still reproducible

[2020-10-20 14:16] roboirc commented on #20
What is the attribute/setting to control the pre-delay in this new version?

[2020-10-23 11:42] nyxee opened #42 "Plugin with id 'com.android.application' not found."
I get that error when i try to load the sample project in Android Studio.

[2020-10-23 15:45] shahsurajk commented on #42
i don't think this issue is due to the library. you can try removing the lib dependency and re-trying to see if this issue goes away or not.

[2020-10-23 15:46] shahsurajk commented on #38
@vokilam , can you create a new issue with the details mentioned so it becomes easier to track. i'll close this one.

[2020-10-23 15:46] #38 closed

[2020-10-23 18:42] nyxee commented on #42
yes. the library is ok.the problem is with the sample project. I have tried to make it work but i have failed only due to the kotlinx-serialization plugin.

[2020-10-24 15:48] shahsurajk commented on #42
not sure. maybe you can try searching stackoverflow for possible solutions. closing this issue cause it doesnt belong here.

[2020-10-24 15:48] #42 closed

[2020-10-27 13:21] ahsparrow opened #43 "Problem when using with ViewPager2 widget"
There seems to be a problem when using the ViewPager2 widget to display a number of RecyclerViews each with a fast scroller. When swiping back and forwards between views the fast scroller stops working or crashes the app.

The problem seems to be the fast scroller's onDetachedFromWindow() function gets called (which de-attaches the fast scroller) when swiping away from a view meaning that it no lo

[2020-10-27 14:39] shahsurajk commented on #43
can you post the crash logs?

[2020-10-27 18:39] ahsparrow commented on #43
2020-10-27 18:37:58.094 27196-27196/uk.org.freeflight.bellfinder E/AndroidRuntime: FATAL EXCEPTION: main
    Process: uk.org.freeflight.bellfinder, PID: 27196
    java.lang.IllegalStateException: Observer com.qtalk.recyclerviewfastscroller.RecyclerViewFastScroller$adapterDataObserver$1$1@7296234 was not registered.
        at android.database.Observable.unregisterObserver(Observable.java:69)

[2020-11-03 16:41] roboirc commented on #20
@shahsurajk ?

[2020-11-04 07:58] shahsurajk commented on #20
@roboirc , v1.0.0 has a `handleVisiblityDuration` XML attribute https://github.com/quiph/RecyclerView-FastScroller#customizable-xml-attributes

[2020-11-04 07:58] shahsurajk commented on #20
if that's not what youre looking for, then you cna re-open this issue

[2020-11-04 16:37] roboirc commented on #20
I am more eager to see you show me a working example / link to:
https://github.com/quiph/RecyclerView-FastScroller/issues/20#issuecomment-690288126

I can't get that to work. Then I can easily modify whatever I want. Waiting for your reply. Thanks

[2020-11-04 19:26] shahsurajk commented on #20
You can check out the sample code in this repo itself by cloning the project:

the sample application here https://github.com/quiph/RecyclerView-FastScroller/tree/master/sample is exactly what youre looking for. Can simply clone this repo and compile the app on you device. The sample app links locally to the library code

[2020-11-11 11:21] lsh-silpion opened #44 "androidx.recyclerview.widget.StaggeredGridLayoutManager not supported"
While I think this is a great library, it sadly seems only to support `androidx.recyclerview.widget.LinearLayoutManager`. Because our customer insists on a Layout which can only be produced by `androidx.recyclerview.widget.StaggeredGridLayoutManager` we sadly can't use this

[code]

[2020-11-12 06:35] shahsurajk commented on #44
Im not sure if the necessary functionality required for it is available in the `StaggeredGridLayoutManager` api. Though it would be worth a check.

[2020-11-12 06:42] lsh-silpion commented on #44
Thanks for considering this! For now I use https://github.com/myinnos/AlphabetIndex-Fast-Scroll-RecyclerView which supports this feature for `StaggeredGridLayoutManager`.

[2021-01-03 13:44] bperel opened #45 "Scroll handle is not positionned properly when scrolling the recycling view"
Hello and thank you for this project.

I have noticed an issue when the list contains a small number of elements.
It can be reproduced by only keeping the first 20 or so items in the `countries.json` file of the sample app.

When scrolling using the scroll handle everything is going fine :
<img src="https://user-images.githubusercontent.com/1484692/103479961-803e4400-4dd1-11eb-98cf-4637e5909bad.jp

[2021-01-03 17:58] shahsurajk commented on #45
Hmm, this surely looks like a bug and is not related to the TODO mentioned. Thanks for letting us know!

[2021-01-05 18:43] cmilousi commented on #16
Hello @shahsurajk . As I may be interested, what exactly is it that you want to test the GridLayoutManager?

[2021-01-07 09:51] shahsurajk commented on #16
Hey @cmilousi thank you showing interest! Essentially what needs to be checked is how the lib behaves when placed with a GridLayoutManager. If it works, maybe add an example fragment to the view pager with the GridLayoutManager thing. 🤔

[2021-01-11 17:38] cmilousi opened #47 "Population is not shown properly"
So in "Advanced" where the countries are listed by population as you can see from my screen recording from the moment that it reaches the "Marshall Islands" the coloured box instead of being inside the rectangular of each country, so we can have country-population, it goes between the countries so we don't know which number is for which country. Furthermore, when I scroll to China and while I am i

[2021-01-13 08:46] cmilousi opened #48 "China's population has multiple numbers"
When I scroll to China and while I am inside China's box, it shows a lot of different numbers of population when there should only be one number referring to China's population.

Screen Recording:
(URL : https://www.dropbox.com/s/bsty0kfhu9l8qrr/20210111_133818~2.mp4?dl=0)
This issue in depicted in the video from 0:09 to the end.

Sorry for the multiple issue creations. At first I wrote this issue

[2021-01-13 14:28] shahsurajk commented on #48
@cmilousi always happy to have contributions to the project.

on the multiple numbers issue, i think, it would be a good idea to highlight the selected item in the sample. from the screen record, what i can make out is that as you move the fast scroller the adapter moves the selected item too.

[2021-01-13 14:36] shahsurajk commented on #48
i think we should first update the example and highlight the selected element, use the callbacks provided [here](https://github.com/quiph/RecyclerView-FastScroller#linking-with-items)

[2021-01-14 08:51] cmilousi commented on #48
@shahsurajk to be more specific at 0:14 you can see that as I scroll but still remain in China the population goes from
1.3B -> 1.0B -> 278.4M -> 237.6M -> 170.1M -> 156.5M -> 146.9M -> 129.2M -> 126.7M and at 111.5M it switches to India.

Also , sorry I didnt quite catch where should I use these callbacks?

[2021-01-16 00:10] AndroidDeveloperLB commented on #45
Is this issue the same as I show here, after modifying the sample a bit:

[KK5iETTupT.zip](https://github.com/quiph/RecyclerView-FastScroller/files/5823462/KK5iETTupT.zip)

[RecyclerView-FastScroller.zip](https://github.com/quiph/RecyclerView-FastScroller/files/5823463/RecyclerView-FastScroller.zip)

?

BasicAdapter - changed number of items to 10.
recycler_view_list_item_center.xml - changed item

[2021-01-16 11:06] bperel commented on #45
@AndroidDeveloperLB Yes your video is the issue that I have

[2021-01-16 11:14] AndroidDeveloperLB commented on #45
@bperel Thank you. Do you know of any workaround of this?

[2021-01-16 15:42] bperel commented on #45
No, I didn't find a workaround: my project can't use the library until this bug is fixed since it prevents the user from scrolling through the content properly

[2021-01-17 00:47] AndroidDeveloperLB commented on #45
@bperel OK thank you.

[2021-02-06 14:58] kaaholst opened #50 "Issues with "Changes sample app to use view pager 2""
I've experienced various issues in the sample app, after the above commit, which is on the development branch as of 26 Nov 2020.

I put them all here in the same issue, because they might share the same root cause.

1. When switching tabs he app will sometimes crash with the below stacktrace. Unfortunately I haven't found a way to reliably trigger this, but it does occur frequently.
2. Display a t

[2021-10-18 18:55] BenjiLee commented on #45
Since this project hasn't been updated in a year and I haven't extensively tested this solution, I'm leaving this here as a comment instead of submitting a PR in case anyone else has come across this issue.

There seems to be an issue with the math `onScrolled`

Ended up replacing https://github.com/quiph/RecyclerView-FastScroller/blob/v1.0.0/recyclerviewfastscroller/src/main/java/com/qtalk/recycl

[2021-11-14 19:37] tibbi commented on #26
just comment out trackView.setOnTouchListener(touchListener) at https://github.com/quiph/RecyclerView-FastScroller/blob/0ba9c9a4ac37c0041e7941865a9a822c42f631a9/recyclerviewfastscroller/src/main/java/com/qtalk/recyclerviewfastscroller/RecyclerViewFastScroller.kt#L498 for it. Do not be confused by it not working in the sample app, the recyclerView actually has side margins and it doesn't go below t

[2022-04-05 12:55] LunarX commented on #50
I have the same problem, and found out that rewriting the function `registerDataObserver()` of the library as follows did seem to circumvent the crash. But I'm not sure this tackles the root of the issue.

The problem seems to be caused because the observer is registered more than once before being detached. It is first registered in `initImpl()` and then, every time you click and scroll down usin

[2022-04-07 08:09] hamed8080 commented on #50
I have exactly the same problem and I hope it'll be fixed because it's one of the most popular libraries that I think most developers use!

[2022-04-09 23:32] omkar-tenkale opened #51 "Crash - lateinit property recyclerView has not been initialized"
kotlin.UninitializedPropertyAccessException: lateinit property recyclerView has not been initialized
        at com.qtalk.recyclerviewfastscroller.RecyclerViewFastScroller.access$getRecyclerView$p(Unknown Source:6)
        at com.qtalk.recyclerviewfastscroller.RecyclerViewFastScroller$alignTrackAndHandle$5.run(Unknown Source:111)
        at android.os.Handler.handleCallback(Handler.java:938)

[2022-04-09 23:46] omkar-tenkale commented on #51
Happens after recycler is initialized with adapter and then the fastscroll.attach is called

[2022-04-10 00:06] omkar-tenkale opened #52 "Crash adapterDataObserver was not registered"
java.lang.IllegalStateException: Observer com.qtalk.recyclerviewfastscroller.RecyclerViewFastScroller$adapterDataObserver$1$1@4a87042 was not registered.
        at android.database.Observable.unregisterObserver(Observable.java:69)
        at androidx.recyclerview.widget.RecyclerView$Adapter.unregisterAdapterDataObserver(RecyclerView.java:7537)
        at com.qtalk.recyclerviewfastscroller.Recycle

[2022-07-25 14:04] arguswaikhom commented on #36
When is this enhancement going to be released??